<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iPatient</title>
    <link rel="stylesheet" href="/styles.css">   
</head>
<body>
    <header class="mainHeader">
        <nav class="mainNav">
            <ul class="navList">
                <li><a href="/show_patients">Parients</a></li>
                <li><a href="/">Doctors</a></li>
                <li><a href="/show_labs">Labs</a></li>                                          
            </ul>
        </nav>
    </header>
    <h2 class="mainTitle">Patients List</h2>

    <ul class="patientsList">
        <% patients.forEach(patient => { %>        
        <li>
            <a href="show_patients/<%= patient.id %>">
                <%= patient.name %> <%= patient.surname %>
            </a>
        </li>
        <% }); %>
    </ul>

    <a href="/new_patient" class="bottomMenu">Add</a>
    
</body>
</html>